/* css */
body {
  background-color: #f4f4f9;
}

.cardHeader {
  background-color: #fefeff;
}

.cardBody {
  background-color: #fafbfb;
}

.links {
  font-size: 12px;
  text-decoration: none;
  color: grey;
  text-align: center;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: #0ecaf0;
}

.buttonUpdate {
  font-size: 10px;
  color: white;
}

.buttonRemove {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.buttonAdd {
  font-size: 15px;
  color: white;
  width: 100%;
}

.bookGenre {
  font-size: 14px;
}

.bookTitle {
  font-size: 24px;
  margin-top: -20px;
}

.bookAuthor {
  margin-top: -20px;
  color: #0ecaf0;
}

.actionsLinks {
  font-size: 14px;
  color: #0ecaf0;
}

.completed {
  margin-top: -15px;
  color: gray;
  font-size: 12px;
}

.progressBar {
  width: 80%;
}

.currentChapter {
  font-size: 10px;
}

.chapter {
  margin-top: -15px;
}

.newBookTitle {
  color: gray;
  font-size: 12px;
}

.progress {
  display: flex;
}

.progress-circle {
  display: flex;
  width: 180px;
  height: 180px;
  color: #000;
  margin: 0.62rem 0.625rem 0.75rem 0.75rem;
}

#progress-circle {
  width: 50px;
  height: 50px;
  color: #2517f0;
  margin: 0.62rem 0.625rem 0.75rem 0.75rem;
}

#typeface {
  color: #4386bf;
  font-family: RobotoSlab-Light, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
}

.Lesson-Panel {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.cate {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.ADD-BOOK {
  width: 8.938rem;
  height: 1.125rem;
  font-family: RobotoSlab, Arial, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #0290ff;
}

.Rectangle-2 {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}
